[run]
omit =
    WDL/__main__.py
    WDL/CLI.py
    WDL/runtime/backend/cli_subprocess.py
    WDL/runtime/backend/singularity.py
    WDL/runtime/backend/podman.py
    WDL/runtime/backend/udocker.py
relative_files = True
