language: cpp
dist: bionic

script:
  - |
      set -ex -o pipefail
      make docker
      docker run --env TRAVIS_JOB_ID=${TRAVIS_JOB_ID} --env TRAVIS_BRANCH=${TRAVIS_BRANCH} \
                 -v /var/run/docker.sock:/var/run/docker.sock -v /tmp:/tmp \
                 miniwdl bash -c "make sopretty && make && coveralls && make doc"
