# Packages needed for miniwdl to run in common use. Additional packages needed
# for miniwdl development are listed in requirements.dev.txt.
setuptools>=39.1.0
importlib-metadata>=1.0.0
regex>=v39.0.1
xdg>=2.0.0
docker>=3.4.0
ruamel.yaml>=0.15.37
argcomplete~=1.11
pygtail~=0.11
coloredlogs>=11.0
python-json-logger~=2.0
lark-parser~=0.11
bullet~=2.2
