# Packages needed for miniwdl development, in addition to those in
# requirements.txt which are needed for miniwdl to run in common use.
pyre-check==0.0.22
black==19.3b0
pylint
sphinx
sphinx-autobuild
sphinx_rtd_theme
coverage
python-coveralls
wheel
pbr
twine
