# Default configuration for miniwdl runner, organized into sections & options within each section.
#
# miniwdl loads configuration options in the following priority order:
# 1. command-line arguments
# 2. environment variables MINIWDL__SECTION__KEY (uppercased with double-underscores)
# 3. custom configuration file (mutually exclusive):
#    a) file named on command-line --cfg
#    b) file named by environment variable MINIWDL_CFG
#    c) miniwdl.cfg in XDG_CONFIG_HOME & XDG_CONFIG_DIRS
# 4. WDL/runtime/config_templates/default.cfg


[scheduler]
# Size of thread pools for task and subworkflow calls. 0 = default to multiprocessing.cpu_count().
# Bounds how many tasks can start concurrently (actual concurrency may be less due to resource
# availability). -@
call_concurrency = 0


[task_io]
# Populate task working directory with writable copies of the input files, instead of mounting them
# in situ & read-only. Needed if tasks want to write/move/rename input files, but costs time and
# disk space. --copy-input-files
copy_input_files = false
# Each succeeded task run directory has an "output_links/" folder containing (by default) a symbolic
# link to each output file in its original location under work/. If output_hardlinks is set, then
# output_links/ will contain hardlinks instead of symlinks.
# With output_hardlinks, one may simply "rm -rf work/" to clean up any other detritus the task may
# have left behind in the working directory (while keeping the output files). Otherwise, beware the
# potential confusion arising from files with multiple hardlinks!
output_hardlinks = false


[task_runtime]
# Effective maximum values of runtime.cpu and runtime.memory (bytes), which evaluated values are
# rounded down to. 0 = detect host resources, -1 = do not apply a limit.
# --runtime-cpu-max, --runtime-memory-max
# Warning: tasks may deadlock if these are set higher than actual provision-able resources.
cpu_max = 0
memory_max = 0
# Defaults which each task's runtime{} section will be merged into. --runtime-defaults
defaults = {
        "docker": "ubuntu:18.04"
    }
# Run the command script as the invoking user's uid:gid instead of usually running as root. More
# secure, but interferes with commands that assume root access e.g. apt-get. --as-me
as_user = false


[download_cache]
# When a File input is supplied with a URI to be downloaded, store the downloaded file in a certain
# directory where it can later be found and reused for the same input URI.
put = false
# Enable retrieval of File input URIs from the local cache
get = false
# Base directory for local download cache
dir = /tmp/miniwdl_download_cache
# Remove URI query strings for cache key/lookup purposes. By default, downloads from URIs with
# query strings are never cached (neither put nor get).
ignore_query = false
# Enable/disable cache based on URI pattern. To work with the cache, a URI must (i) match at least
# one glob pattern in enable_patterns, AND (ii) not match any disable_patterns. (In addition to the
# master put/get settings.)
enable_patterns = ["*"]
disable_patterns = ["*.php", "*.aspx"]


[plugins]
# Control which plugins are used. Plugins are installed using the Python entry points convention,
#   https://packaging.python.org/specifications/entry-points/
# Furthermore for a plugin to be used, its "object reference" must (i) match at least one glob
# pattern in enable_patterns, AND (ii) not match any disable_patterns.
enable_patterns = ["*"]
disable_patterns = ["miniwdl_task_omnibus_example:*"]
